<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
    <!-- 1. 数据源 : DriverManagerDataSource -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/mydb??useUnicode=true&amp;characterEncoding=UTF-8&amp;" />
        <property name="username" value="root" />
        <property name="password" value="wj0000000" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
       		<property name="dataSource" ref="dataSource"></property>
       		<property name="typeAliasesPackage" value="com.PRD.model"></property>
      		<property name="mapperLocations" value="classpath:com/PRD/dao/*Mapper.xml"></property>
      		<property name="plugins">
    			<array>
      				<bean class="com.github.pagehelper.PageInterceptor">
        				<property name="properties">
          				<!--使用下面的方式配置参数，一行配置一个 -->
          					<value>
            					params=value1
          					</value>
        				</property>
     				 </bean>
    			</array>
 			 </property>
       </bean>
       
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
       		<property name="basePackage" value="com.PRD.dao"></property>
       </bean>
    

    <!--
        4. 事务管理 : DataSourceTransactionManager dataSource:引用上面定义的数据源
    -->
    <bean id="txManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
	<!-- 上传文件拦截，设置最大上传文件大小   10M=10*1024*1024(B)=10485760 bytes -->  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
 	   <property name="maxUploadSize" value="10485760" /> 
 	   <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
	</bean>
    <!-- 5. 使用声明式事务
         transaction-manager：引用上面定义的事务管理器
     -->
    <tx:annotation-driven transaction-manager="txManager" />

</beans>